main{
    background-color:#f5f5f5;
}
.container1{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin-top:50px;
    margin-right:30%;
    margin-left:30%;
}
.container2{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin-top:50px;
    margin-left:30%;
    margin-right:30%;
}
.background2{
    background-color:white;
}
.container3{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
}
.container4{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin-top:30px;
    margin-left:30%;
    margin-right:30%;
}
.container5{
    display:flex;
    flex-direction:column;
    margin-right:30%;
    margin-left:30%;
}
.container6{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
}